body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#container {
    height: 100%;
    width: 100%;
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#videoContainer {
    position: relative;
    width: 100%; 
    height: 100%;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
}

#buttonContainer {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

button {
    position: relative;
    padding: 8px 32px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background: black;
    border: 4px solid transparent;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px auto;
    transition: border-color 0.3s;
}

button:hover {
    border-color: #00ff26;
    animation: borderShimmer 2s infinite;
}
  
button span {
    display: inline-block;
    transform-origin: center;
    transition: transform 0.3s ease;
}
  
button:hover span {
    transform: scale(1.05);
}

#login-button {
    position: absolute;
    z-index: 3;
    left: 5px;
    top: 5px;
}

#confirm-login-button {
    width: 100%;
}

.modal {
    display: none;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    position: relative;
    margin: 0 auto;
    border: 1px solid #888;
    padding: 20px;
    max-width: 400px;
    background: linear-gradient(135deg, white, ghostwhite);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    line-height: .5;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #555;
    text-align: left;
}

.modal-content input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 95%;
}
  
input:focus {
    outline: none;
    border-color: #66afe9;
}

.snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    border-radius: 8px; 
    padding: 16px;
    position: fixed;
    z-index: 10;
    left: 50%;
    bottom: 20px; 
    transform: translateX(-50%) translateY(100%); 
    font-size: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.snackbar.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

#toggleAudio {
    color: gray;
    display: block;
    font-size: 28px;
    padding-bottom: 20px;
    align-content: center;
    cursor: pointer; 
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, color 0.3s ease;
  }
  
  #toggleAudio:hover {
    transform: scale(1.2);
  }